{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{home.name}}</title>
    
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="https://kit.fontawesome.com/481f6f7e30.js" crossorigin="anonymous"></script>
    <style>
        #header {
            width: 100%;
            height: 100vh;
            background-image: url('{{ home.picture.url }}'); /* Use your Django template tag here */
            background-size: cover;
            background-position: center;
            padding: 50px 20px;
        }
        @MEDIA only screen and (max-width: 600px){
    #header{
        background-image: url('{{ home.picturephone.url }}');
        padding: 20px 1px;
    }}
    </style>
    
</head>
<body>
   <div id="header">
    <div class="container">
        <nav>
            <a href="#" class="logo" style="font-size: 36px;
            color: white;
            font-weight: 600; text-decoration: none;">{{ home.logo1 }}<span style="color: #13bbff;"> {{home.logo2}}</span></a>
            <ul class="navlist" id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>

                <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
            <p>{{ home.greetings_1 }}</p>
            <h1>I'm <span class="input"></span></h1>
        </div>
    </div>
</div> 

<!----about----->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1"><img src="{{ about.profile_img.url }}" ></div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>{{ about.description }}</p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        {% for category in categories %}
                        {% for skills in category.skills_set.all %}
                        <li><span>{{skills.skill_name}}</span><br>{{skills.skill_description}}</li>
                        {% endfor %}
                        {% endfor %}
                       

                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        {% for experiencecategory in experiences %}
                        {% for experience in experiencecategory.experience_set.all %}
                            <li>
                                <span>{{ experience.start_date|date:"Y" }}{% if experience.end_date %}-{{ experience.end_date|date:"Y" }}{% else %}-Current{% endif %}</span>
                                <br>{{ experience.title }}
                                <br>{{ experience.description }}
                            </li>
                        {% endfor %}
                    {% endfor %}

                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        {% for educationcategory in education %}
                        {% for education in educationcategory.education_set.all %}
                        <li><span>{{education.degree}}</span><br>{{education.field_of_study}} <br>{{education.university}} {{education.graduation_date}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!---services-->
<div id="services">
    <div class="container">
        <h1 class="sub-title">My services</h1>
        <div class="services-list">
            {% for service in services %}
            <div>
                
                    <i class="{{service.logo}}"></i>
                    <h2>{{ service.name }}</h2>
                    <p>{{ service.description }}</p>
                    <a href="#">Learn more</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Portfolio -->
<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My work</h1>
        <div class="work-titles">
            {% for category in work_categories %}
            <p class="work-links {% if forloop.first %}active-work{% endif %}" data-work="{{ category.name }}" onclick="openWork('{{ category.name }}')">{{ category.name }}</p>
            {% endfor %}
        </div>
        <div class="work-list">
            {% for category in work_categories %}
            <div class="work-contents {% if forloop.first %}active-work1{% endif %}" id="{{ category.name }}-content">
                {% for work in works %}
                {% if work.category == category %}
                <div class="work-item">
                    <img src="{{ work.image.url }}" height="400px" width="310px">
                    <div class="layer">
                        <h3>{{ work.title }}</h3>
                        <p>{{ work.description }}</p>
                        <a href="{{work.link}}"><i class="fa-solid fa-link"></i></a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="https://www.instagram.com/abdellah_zou/" target="_blank" class="btn">See more</a>
</div>

</div>
<!--contact-->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact me</h1>
                {% for social in socials %}
                    <p><i class="fa-solid fa-paper-plane"></i> {{ social.email }}</p>
                    <p><i class="fa-solid fa-phone"></i>{{ social.phone }}</p>
                    <div class="social-icons">
                        <a href="{{ social.Facebook }}" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="{{ social.LinkedIn }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="{{ social.Instagram }}" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>

                    </div>
                {% endfor %}
                <a href="#" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="text" name="Email" placeholder="Your Email" required>
                    <textarea name="Message"  rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
</div>

    <div class="copyright">
        <p> Design  Copyright &copy; Kevin, Made with <i class="fa-solid fa-heart"></i> by Abdellah Zouggari  </p>
    </div>
</div>















<!--Script for about section-->
<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");
    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab");
    }
    event.currentTarget.classList.add("active-link");
    document.getElementById(tabname).classList.add("active-tab")
    
    }
</script>
<!--Script for my work section-->
<script>
function openWork(workType) {
    var workContents = document.getElementsByClassName("work-contents");
    var workTitles = document.getElementsByClassName("work-links");

    for (var i = 0; i < workContents.length; i++) {
        workContents[i].classList.remove("active-work1");
    }

    for (var i = 0; i < workTitles.length; i++) {
        workTitles[i].classList.remove("active-work");
    }

    var activeWorkContent = document.getElementById(workType + "-content");
    var activeWorkTitle = document.querySelector("[data-work='" + workType + "']");

    activeWorkContent.classList.add("active-work1");
    activeWorkTitle.classList.add("active-work");
}

</script>


<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
 var typed= new Typed(
     ".input", {
         strings:["{{ home.greetings_2}}", "{{ home.greetings_3 }}", "{{ home.greetings_4 }}", "{{ home.greetings_5 }}"],
         typeSpeed:70,
         backSpeed:65,
         loop:true
     }
 )
</script>
<!--side menu--->
<script>
    var sidemenu = document.getElementById("sidemenu");
    function openmenu(){
        sidemenu.style.right = "0";
    }
    function closemenu(){
        sidemenu.style.right="-200px";
    }
</script>
<!---contact form message-->
<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbz8Z76xE7-9Mf2j7GkUTvxHDeeHn_L49umeMXxtvsnWOal4y1Z9K-pu0Wlv_h1Z4_I4/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById("msg")

    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Message sent successfully"
            setTimeout(function(){
                msg.innerHTML = ""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>
  <!--scroll reveal-->
  <script src="https://unpkg.com/scrollreveal"></script>
   <script src="{% static 'assets/js/main.js' %}"></script> 


</body>
</html>